*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(images/binary.jpg);
    background-size:cover ;
}
.container {
    width: 80%;
    margin: auto;

}
header{
    height: 100px;
    border-bottom: 2px solid rgb(255,255 ,255,0.06);
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
nav ul{
    list-style: none;
    display: flex;
    column-gap: 30px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    color: rgb(247, 96, 9);
    transition: color .25s ease;
    font-size: large;
}
nav .menu{
    display: flex;
    float: right;
    align-items: center;
    column-gap: 48px;
}
nav .menu .login{
text-decoration: none;
background-color: rgb(255,255,255,0.08);
border-radius: 56px;
padding: 12px 24px;
color: aquamarine;
transition: all .25s ease;
}
nav .menu .login:hover{
    background-color: rgb(250, 137, 8);

}

.box{
    width: 26%;
    height: 32%;
    background-color: rgb(231, 84, 25);
    border-radius: 5%;
    padding: 3%;
    text-align: center;
    margin: auto;
    margin-top: 5%;

}
.box img{
    border-radius: 20%;
    margin-top: 5%;
    padding: auto;
}
.box2{
    width: 26%;
    height: 32%;
    background-color: rgb(231, 84, 25);
    border-radius: 5%;
    padding: 3%;
    text-align: center;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 5%;

}
.box2 img{
    border-radius: 5%;
    width: 80%;
    margin-top: 5%;
    padding: auto;
}


h1{
    margin-top: 1%;
    text-align: center;
    color: red;
    font-size: 48px;
}
.sehrim{
    background-color: rgb(231, 84, 25);
    opacity: 0.9;
    color: white;
    text-align: center;
    margin: auto;
    opacity: 0.9;
}
.box3{
    width: 28%;
    height: 36%;
    background-color: rgb(231, 84, 25);
    border-radius: 5%;
    padding: 1.5%;
    text-align: center;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 3%;
    float: left;
    margin-left: 4%;
    opacity: 0.9;
}
.box3 img{
    border-radius: 5%;
    width: 80%;
    margin-top: 5%;
    padding: auto;
}
 .swiper{
    position: relative;
    width: 34%; 
    height: 24%;
    margin: auto;
    margin-bottom: 1.5%;
    margin-top: 800px;
    margin-left: 50%;
}
.swiper-slide img{
    width: 100%;
    height: 400px;
}

.swiper .swiper-pagination{
    background-color:red;
}
.swiper .swiper-pagination:hover{
    font-size: x-large;
}
.box4{
    background-color: black;
    opacity: 0.9;
    width: 28%;
    height: 34%;
    padding: 1.5%;
    text-align: center;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 3%;
    float: left;
    margin-left: 4%;
    border-radius: 10%;
}
.box4 video{
    height: 28%;
    width: 100%;
}
.box4 p{
    color: red;
}
.box4 h2{
    color: red;
}
.box5{
    background-color: black;
    opacity: 0.9;
    width: 28%;
    height: auto;
    padding: 2%;
    text-align: center;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 3%;
    float: right;
    margin-right: 4%;
    border-radius: 10%; 
}
.box5 img{
    border-radius: 5%;
    width: 80%;
    margin-top: 5%;
    padding: auto;
}
.box5 p{
    color: red;
}
.box5 h2{
    color: red;
}
.box5 h3{
    color: red;
}
.box6{
    background-color: black;
    opacity: 0.9;
    width: 28%;
    height: 34%;
    padding: 2%;
    text-align: center;
    margin: auto;
    margin-top: 660px;
    border-radius: 10%; 
}
.box6 iframe{
    border-radius: 5%;
    width: 100%;
    height: 280px;
    padding: 5%;

}
.box6 p{
    color: red;
}
.box6 h2{
    color: red;
}
.box7{
    position: relative;
    background-color: black;
    opacity: 0.9;
    width: 28%;
    text-align: center;
    border-radius: 10%; 
    padding:1.5%;
    float: left;
    margin-left: 4%;
    margin-bottom: 15px;

}

.box7 img{
    border-radius: 5%;
    width: 100%;
    margin-top: 5%;
    padding: auto;
}
.box7 h2{
    text-align: center;
}
.box7 p{
    color: red;
    text-align: center;
}
.box8{
    position: relative;
    background-color: black;
    opacity: 0.9;
    width: 28%;
    text-align: center;
    border-radius: 10%; 
    padding:1.5%;
    float:right;
    margin-right: 4%;
    margin-bottom: 20px
}

.box8 img{
    border-radius: 5%;
    width: 100%;
    margin-top: 5%;
    padding: auto;
}
.box8 h2{
    text-align: center;
}
.box8 p{
    color: red;
    text-align: center;
}
.swiper2{
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
   overflow: hidden;
}
.swiper-slide img{
    width: 100%;
    height: 400px;
}

.swiper2 .swiper-pagination{
    background-color:red;
}
.swiper2 .swiper-pagination:hover{
    font-size: x-large;
}
footer{
    background-image: none;
    background-color: black;
    height: 18%;
    color: red;
    margin: auto;
    margin-top: 1.5%;
    text-align: center;
    padding: 1%;
    bottom: 0%;
 }
 footer .wrapper{                
    min-height: calc(100% - 18%);            
}
.container2{
    position: relative;
    background-color: black;
    opacity: 0.9;
    width: 28%;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10%; 
    padding:1.5%;
    float: left;
}
