*{
    margin: 0px;
    padding: 0px;
    
}
body{
    background-color:#34a0a4;
    
}
.footer{
    margin-top: 2%;
}
.container {
    margin-top: 2%;
    width: 70%;  
    margin: auto;
    font-weight: 900;
    font-style: italic;

}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
        
}

nav ul{
    list-style: none;
    display: flex;
    column-gap: 30px;
 
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    color: #edddd4;
    transition: color .25s ease;
    font-size: large;
}
nav {
    display: flex;
    float: right;
    
    column-gap: 24px;
}
p{
    text-align: center;
}
.box{
    background-color: #edddd4;
    border-radius: 5%;
    padding: 2%;
    text-align: center;
    margin: auto;
    margin-top: 2.25%;
    
}
.box img{
    width: 100%;
    height: 300px;
    border-radius: 12%;
    margin: auto;
    margin-top: 2.5%;
    margin-bottom: 1%
}
.box2{
    width: 500px;
    height: 700px;
    background-color: #edddd4;
    border-radius: 5%;
    padding: 2%;
    text-align: center;
    margin: auto;
    margin-top: 2%;

   
}
.box2 img{
    width: 100%;
    height: 300px;
    border-radius: 12%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%
    
}
.box3{
    width: 600px;
    height: 400px;
    background-color: #edddd4;
    border-radius: 5%;
    text-align: center;
    margin: 1%;
    margin-top: 2%;
    font-size: large;
    font-style: italic;
    padding: 2%;


}
.box3 img{
    width: 88%;
    height: 340px;
    border-radius: 12%;
}


h1{
    margin-top: 1%;
    text-align: center;
    color: rgb(17, 16, 16);
    font-size: 48px;
}
.sehrim{
    background-color: #edddd4;
    opacity: 0.9;
    color: rgb(223, 17, 17);
    text-align: center;
    margin: auto;
    opacity: 0.9;
}

.swiper{
    position: relative;
    width:  84%; 
    height: 430px;
    margin: auto;
    margin-left: 50%;
    margin-top: 3%;
}
.swiper-slide img{
    width: 100%;
    height: 400px;
}


.swiper .swiper-pagination:hover{
    font-size: x-large;
}
.tkm{
    opacity: 0.9;
    background-color: #edddd4;
    border-radius: 5%;
    text-align: center;
    margin: 1%;
    margin-top: 2%;
    font-size: large;
    font-style: italic;
    padding: 2%;}


.box9{
    background-color:#edddd4;

    
}
.box9 img{
    width: 100%;
    height: 320px;
    margin-top: 8%;
    border-radius: 2%;
}
.swiper2{
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
   overflow: hidden;
}
.swiper-slide img{
    width: 100%;
    height: 560px;}

.swiper2 .swiper-pagination{
    background-color:red;
}
.swiper2 .swiper-pagination:hover{
    font-size: x-large;
}
.social-icon {
    padding: 0;
    margin-bottom: 0px;
    float: right;
}

.social-icon li {
    list-style: none;
    display: inline-block;
}
.social-icon li img{
    font-size: 24px;
    color: #ee0f0f;
    border: solid 2px #080808;
    height: 36px;
    width: 36px;
    text-align: center;
    vertical-align: middle;
    line-height: 36px;
    margin-right: 18px;
    transition: 1s;
    background: rgb(180, 6, 6);
}
.social-icon li img:hover {
    border: solid 2px #070706;
    color: #ffffff;
    background: #020202;
}
.footer{
    background-color: #0f868a;
}
.copyright {
    font-size: 18px;
}
.wrapper{
    position: relative;
    min-height: 600px;  
    border-style: none;
    margin: auto;
    padding-bottom: 2%;
    margin-bottom: 2%;
}

.bg{
    background-color:#edddd4;
    font-size:16px;
    font-weight: 700;
    margin-top: 1.5%;
    padding-top: 1.5%;
    padding-bottom: 1%;
}
.bg h3{
    text-align: center;
    font-weight: 900;
    font-size:xx-large;
    margin-top: 2%;
}
.bg2{
    float: right;
    padding-right: 10%;
    height: 90%;
}
.sınıf ul{
    list-style: none;
    font-weight: 900;
    text-align: center;
    color:black;
    font-size: larger;
}
.social-icon2 ul{
    margin-left: 30%;
    display: flex;
    column-gap: 40px;
    vertical-align: middle;
}
.social-icon2 ul li{
    list-style: none;
}
.social-icon2 ul li a{
    color: rgb(147, 212, 255);
    text-decoration: none;
}
.social-icon2 ul li a:hover{
    color: rgb(12, 11, 10);
    transition: color .25s ease;
    font-size: x-large;
}

.dosya {
    width: 90px;
    height: 60px;
    background: url('https://cdn1.iconfinder.com/data/icons/Aire%20PNGs/512/Folders/Upload%20Folder.png');
  background-size: 90px 60px;
    overflow: hidden;
}
.dosya input {
        width: 90px;
        height: 60px;
        opacity: 0;
        cursor: pointer;
}
.form-group{
  margin-top: 1.5%;
}
.container label{
    color: #000000;
    font-weight: 700;
    font-size: 24px;
}
.container i h1{
    color: #000000;
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}
.btn{
    background-color: #04633b;
}
i h1{
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}
.ifrm{
    margin-left: 30%;
    background: #374e91;
}
